/* -------------------------------------------------------------------------
 * RIPPLE
 *
 * Pure CSS Material Design Ripple Effect
 *
 * Params:
 * DURATION ........................... Animation duration

// Animation variables
// --------------------------------------------------

$a-ripple--enabled: true !default

// Animation Params

$a-ripple__duration: $f-duration--slow !default
$a-ripple__timing: $f-easing--out !default

// Modifiers durations

$a-ripple__mod-durations--enabled: true !default
$a-ripple__mod-durations: $f-durations !default

=a-ripple
  background-position: center
  transition: background $a-ripple__duration $a-ripple__timing

=a-ripple--hover($_color)
  background: $_color radial-gradient(circle, transparent 0.1%, color-transform($_color, $f-color__brand-theme-type) 0.1%) center/150000%

=a-ripple--in
  background-size: 100%
  transition: background 0s
  background-color: color-transform($f-color__neutral-accent-bg, "pure-" + $f-color__brand-theme-type)

=a-ripple--in-colored($_color)
  background-size: 100% // necessary to duplicate or effect fails
  background-color: $_color

@if $a-ripple--enabled
  .a-ripple
    +a-ripple

    &:hover,
    &:focus
      +a-ripple--hover(color-transform($f-color__neutral-accent-bg, "semi-" + $f-color__brand-theme-type))

    &:active,
    &.in
      +a-ripple--in

  @each $_color-name, $_color-val in map-merge($f-colors-brand, $f-colors-state)
    .a-ripple
      &:hover[class*="--#{$_color-name}"],
      &:focus[class*="--#{$_color-name}"]
        +a-ripple--hover(color-transform($_color-val, "semi-" + $f-color__brand-theme-type))

      &:active[class*="--#{$_color-name}"],
      &.in[class*="--#{$_color-name}"]
        +a-ripple--in-colored(color-transform($_color-val, "pure-" + $f-color__brand-theme-type))



=a-ripple__mod-duration($_duration-name: "normal", $_duration-value: $f-duration--normal)
  .a-ripple--duration-#{$_duration-name}
    transition-duration: $_duration-value

@if $a-ripple--enabled and $a-ripple__mod-durations--enabled
  @each $_name, $_duration in $a-ripple__mod-durations
    +a-ripple__mod-duration($_name, $_duration)

=a-ripple--unset
  transition-property: all
  transition-duration: 0s
  transition-timing-function: ease
