/* -------------------------------------------------------------------------
 * RIPPLE
 *
 * Pure CSS Material Design Ripple Effect
 *
 * Params:
 * DURATION ........................... Animation duration

// Animation variables
// --------------------------------------------------

$a-ripple--enabled: true !default

// Animation Params

$a-ripple__duration: $f-duration--normal !default
$a-ripple__timing: $f-easing--out !default

// Modifiers durations

$a-ripple__mod-durations--enabled: true !default
$a-ripple__mod-durations: $f-durations !default

@keyframes ripple
  from
    background: radial-gradient(circle, transparent 0%, color-transform(color-transform($f-color__neutral-primary-bg, "ultra" + $f-color__brand-theme-type), "semi-opaque") 100%)
    background-position: center center
    background-size: 0%
  to
    background-size: 100%

=a-ripple
  animation-name: ripple
  animation-timing-function: $a-ripple__timing
  animation-duration: 0s
  animation-play-state: unset

=a-ripple--in
  animation-play-state: running
  animation-iteration-count: 1
  animation-direction: normal
  animation-fill-mode: none

@if $a-ripple--enabled
  .a-ripple
    +a-ripple

    &.in, &:active
      +a-ripple--in

=a-ripple__mod-duration($_duration-name: "normal", $_duration-value: $f-duration--normal)
  .a-ripple--duration-#{$_duration-name}
    animation-duration: $_duration-value

@if $a-ripple--enabled and $a-ripple__mod-durations--enabled
  @each $_name, $_duration in $a-ripple__mod-durations
    +a-ripple__mod-duration($_name, $_duration)

=a-ripple--unset
  animation-name: none
  animation-duration: 0s
  animation-timing-function: ease
  animation-play-state: unset
